<h1>hefeweizen</h1>
Hefeweizen is the original wheat beer and remains one of the best known among the many styles of beer that now available. It originated in Germany and can be recognized as the cloudy, pale  brews that leave a lot of yeast in an empty glass.<br><br>

Hefeweizen is a cloudy wheat ale that originated in Germany. The direct translation is hefe-yeast weizen-wheat. Yeast in the name refers to the fact that this beer is unfiltered and remains cloudy thanks to the suspended yeast. This yeast also contributes the unique banana and clove qualities to the aroma and flavor of hefeweizen.