<h1>IPA</h1>
<b>SAVOR THE FLAVOR</b> | The IPA style of beer has a whole lot going for it. First and foremost is taste, which some could argue is an acquired one. The flavor of IPA beer highlights the complex and varied results that can be achieved through hops and other beer ingredient staples. The pronounced and unique flavor profile of IPA allows for a better understanding of brewing beer in general as hops and malts are often identified individually. We truly hope our database will help with the taste discovery process of the thousands of IPAs currently offered.<br><br>

<b>THE ACRONYM</b> | Acronyms help make the world a better place. Quick and easy to say, but can be a bit mysterious if what it stands for is unknown. In the case of IPA, for India Pale Ale, there could be cause for confusion since India is an important reference with the rich history of the IPA, but not the origin country from which it was first produced.<br><br>

<b>HISTORICALLY SIGNIFICANT</b> | The IPA style is over 175 years old, which is a long enough to offer some insight on what the world was up to back then and how things travelled from point A to point B. Again IPA delivers with its often debated history and storied past.<br><br>

<b>SUB STYLED</b> | The three main styles of IPA are American-style IPA, English-style IPA and Double or Imperial IPA. All of which are consistently produced and are official style category designations in the major beer competitions. Black IPA is an example of a sub style that has appeared on the market in limited quantities. Hybrid IPAs such as Wheat IPA or Belgian White IPA have also gained traction. We of course will cover anything having the slightest bit of a relevant connection to IPA.
