<h1>lambic</h1>
If we had to describe lambic beers in one word, we'd probably go with "funky." Yes, funky! This beer has a little something extra over those other beers, making every bottle unique and incredibly fun to drink...<br><br>

Most commercial beers are made with carefully selected strains of yeast, but brewers of lambic beers leave things up to chance. Belgian lambic beers are left in open vats where wild yeast and bacterias are allowed to take up residence. Once the fermentation process begins, the beer is stored in barrels and left to age for up to three years.<br><br>

The result is a distinctly sour beer with mild carbonation, a cloudy appearance, and a thick mouthfeel. In a word, funky. Think of the difference between bread made with commercial yeast verses bread made using a sourdough starter and you'll start to get the idea.<br><br>

Although it's not a requirement, many lambics are also fermented with fruits like raspberries, apricots, and even muscat grapes. This adds another layer complexity to the beer, balancing the sour brew with tart and sweet fruit flavors.