<h1>pilsner</h1>
Pilsner styles of beer originate from Bohemia in the Czech Republic.
 They are medium- to medium-full bodied and are characterized by high carbonation and tangy Czech varieties of hops that impart floral aromas and a crisp, bitter finish.
  German pilsner styles are similar, though often slightly lighter in body and color.<br><br>
   The hallmark of a fresh pilsner is the dense, white head. The alcohol levels must be such as to give a rounded mouthfeel, typically around 5 percent ABV. Classic pilsners are thoroughly refreshing, but they are delicate and must be fresh to show their best. Few beers are as disappointing to the beer lover as a stale pilsner. Great pilsners are technically difficult to make and relatively expensive to produce.<br><br>
Pilsners are one of the more recent styles to be “imperialized,” with their characteristics, generally alcohol and hops, bumped up sufficiently to constitute a new style, but with a familiar profile. These new imperial pilsners may sacrifice pilsner’s famed delicacy, but they retain the floral aromas and dry, bitter finish of their progenitor style.
